[Desktop Entry]
Name=ReplayWeb.page
Comment=View Web archive files
TryExec=/home/{{whoami}}/.uni/ReplayWeb.page-{{version}}.AppImage
Exec=/home/{{whoami}}/.uni/ReplayWeb.page-{{version}}.AppImage
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/{{whoami}}/.uni/app/replayweb-page/logo.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=Web;
NotShowIn=KDE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=system-monitor
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.36.1
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
X-Ubuntu-Gettext-Domain=ReplayWeb.page
